@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background: var(--primary-clr);
}
:root {
  --primary-clr: #000000;
  --secondary-clr: #131313;
  --third-clr: #ffba19;
  --forth-clr: #ffffff;
}

/* Common Class */
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
.row {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
}
.row > * {
  padding: 0 15px;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul > li {
  list-style-type: none;
}
ul {
  padding-left: 0;
}

/* Header Above Section */
.above-section {
  text-align: center;
  font-size: 15px;
  color: var(--secondary-clr);
  background-color: var(--third-clr);
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: Open Sans;
  position: relative;
}
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 120 20" xmlns="http://www.w3.org/2000/svg"><path d="M0 10 Q 10 0 20 10 T 40 10 T 60 10 T 80 10 T 100 10 T 120 10 V20 H0 Z" fill="black"/></svg>')
    repeat-x;
  background-size: contain;
}

/* Header Section */
.nav-logo {
  max-width: 110px;
  min-height: 80px;
}
.nav-logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
nav {
  gap: 350px;
}
nav,
.nav-right,
.nav-right > ul {
  display: flex;
  align-items: center;
}
.nav-right {
  flex-grow: 1;
}
.nav-right > ul {
  margin: 0 auto;
  gap: 30px;
}
.nav-right > ul > li > a {
  font-size: 16px;
  color: var(--forth-clr);
  font-family: Open Sans;
}
.nav-right > ul > li > a:hover {
  color: var(--third-clr);
}
.header-search > img {
  width: 25px;
  height: 25px;
  object-fit: contain;
  padding-top: 5px;
}
.header-cart > img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}
.dropdown {
  position: relative;
  display: inline-block;
  color: var(--forth-clr);
  font-family: Open Sans;
}
.dropdown:hover {
  color: var(--third-clr);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--secondary-clr);
  text-wrap: nowrap;
  margin-top: 2px;
  z-index: 99;
}
.dropdown-content a {
  color: var(--forth-clr);
  padding: 8px;
}
.dropdown-content li :hover {
  background-color: var(--third-clr);
  color: var(--forth-clr);
  width: 100%;
}
.dropdown-toggle::after{
  display: none;
}
.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.divider {
  height: 30px;
  width: 2px;
  display: inline-block;
  background-color: var(--forth-clr);
}
.header-btn {
  position: relative;
  padding: 11px 15px;
  font-size: 16px;
  background-color: #ba3e3e;
  color: var(--forth-clr);
  border-radius: 2px;
  border-bottom: 3px solid var(--third-clr);
  border-right: 3px solid var(--third-clr);
  font-family: Open Sans;
  z-index: 1;
  overflow: hidden;
  transition: color 0.3s;
}
.header-btn::before {
  content: "";
  background: var(--third-clr);
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}
.header-btn:hover::before {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header-btn:hover {
  color: var(--secondary-clr);
}
.hamburger {
  font-size: 1.8rem;
  cursor: pointer;
  margin-top: 4px;
}
.close-icon {
  display: none;
  font-size: 24px;
  margin-left: auto;
  margin-bottom: 20px;
  cursor: pointer;
}
.big-scr {
  display: none;
}

/* Banner Video Section  */
.banner-video-section {
  padding: 80px 0;
}
.banner-video-section > div > div {
  justify-content: center;
}
.col {
  width: 100%;
}
.banner-video-img {
  max-width: 1130px;
}
.banner-video-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}
.video-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
}
.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--third-clr);
  color: var(--forth-clr);
  font-size: 24px;
  border: 1px solid var(--forth-clr);
  padding:10px 20px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.video-wrapper:hover .play-icon {
  transform: translate(-50%, -50%) scale(1.2);
}
.yellow-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--third-clr);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 1;
}
.video-wrapper:hover .yellow-overlay {
  width: 200%;
  height: 200%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0.1;
}

/* Lorem Section */
.lorem-section {
  padding-bottom: 80px;
}
.lorem-section > div {
  text-align: center;
}
.lorem-section h2 {
  color: var(--forth-clr);
  font-size: 45px;
  font-family: Coustard;
  font-weight: normal;
}
h2 > span {
  color: var(--third-clr);
}
.lorem-section > div > p {
  font-size: 16px;
  color: var(--forth-clr);
  padding-top: 20px;
  font-family: Open Sans;
  max-width: 700px;
  margin: 0 auto;
}

/* Short Video Section  */
.short-video-section {
  padding-bottom: 80px;
}
.short-video-section > div > div {
  row-gap: 20px;
}
.col-6 {
  width: 50%;
}
.short-video-img {
  max-width: 550px;
}
.short-video-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.p1 {
  font-size: 20px;
  font-family: Coustard;
  font-weight: normal;
  color: var(--forth-clr);
  padding-top: 10px;
}

/* Flote Box Section */
.flote-section {
  display: flex;
  justify-content: center;
}
.subscribe-section {
  background-color: var(--secondary-clr);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 20px 0 40px;
  border-radius: 10px;
  width: 1200px;
  height: 385px;
  margin-bottom: 60px;
}
.flote-main {
  display: flex;
}
.subscribe-text {
  padding-bottom: 60px;
}
.subscribe-text > h2 {
  color: var(--forth-clr);
  font-size: 45px;
  font-family: Coustard;
  font-weight: normal;
}
.highlight {
  color: var(--third-clr);
}
.subscribe-text > p {
  font-size: 16px;
  color: var(--forth-clr);
  margin: 20px 0;
  font-family: Open Sans;
}
.email-form {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border: 1px solid gray;
}
.email-form input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 3px 0 0 3px;
  outline: none;
  width: 250px;
  background-color: transparent;
  color: var(--forth-clr);
}
.email-form .header-btn {
  padding: 10px 20px;
  background-color: #ba3e3e;
  color: var(--forth-clr);
  border-right: 2px solid var(--forth-clr);
  border-bottom: 2px solid var(--forth-clr);
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: background-color 0.6s ease-in-out;
}
.subscribe-image {
  max-width: 530px;
}
.subscribe-image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.subscribe-plant {
  max-width: 130px;
}
.subscribe-plant > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.small-flote-section {
  display: none;
}

/* Footer Section */
.footer-section ul {
  padding-left: 0;
}
.col-4 {
  width: 25%;
}
.footer-logo {
  max-width: 75px;
}
.footer-logo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-1st > h4 {
  font-size: 16px;
  color: var(--third-clr);
  margin-bottom: 20px;
  font-family: Coustard;
  font-weight: normal;
}
.footer-1st > p {
  color: var(--forth-clr);
  margin-bottom: 40px;
  font-size: 16px;
  font-family: Open Sans;
}
.footer-icon {
  border-radius: 50%;
  background-color: #ba3e3e;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-icon > img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
ul h4 {
  font-size: 16px;
  color: var(--third-clr);
  font-family: Coustard;
  font-weight: normal;
}
ul > li {
  margin-bottom: 10px;
  font-size: 16px;
}
ul > li > a {
  color: var(--forth-clr);
  font-family: Open Sans;
  position: relative;
}
ul > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: var(--third-clr);
  transition: width 0.3s ease;
}
ul > li > a:hover::after {
  width: 100%;
}
.footer-section > p {
  font-size: 16px;
  color: var(--forth-clr);
  text-align: center;
  font-family: Open Sans;
  margin-bottom: 10px;
}
.footer-section > hr {
  margin-top: 50px;
  margin-bottom: 10px;
}
#scrollToTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 15px 0 15px 0;
  display: none;
  transition: background-color 0.3s ease;
}
#scrollToTopBtn:hover {
  background-color: var(--third-clr);
}
@media screen and (max-width: 1200px) {
  /* Header Section */
  .big-scr {
    display: flex;
    align-items: center;
    color: var(--forth-clr);
    margin-left: auto;
    gap: 20px;
  }
  .fa-xmark {
    color: var(--forth-clr);
  }
  .nav-right {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    z-index: 10;
  }
  .nav-right.active {
    right: 0;
    animation: dropdown 1 500ms forwards linear;
  }
  @keyframes dropdown {
    from {
      transform: translateY(-30px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .nav-right ul {
    flex-direction: column;
    width: 100%;
  }
  .close-icon {
    display: block;
  }
  .small-scr {
    display: none;
  }
  .nav-right > ul > li {
    margin-bottom: 30px;
  }
  .dropdown {
    padding: 10px;
  }
  .dropdown-content {
    z-index: 20;
  }
  nav {
    gap: 150px;
  }

  /* Flote Box Section  */
  .subscribe-section {
    max-width: 1000px;
  }
}
@media screen and (max-width: 992px) {
  /* Flote Box Section  */
  .subscribe-image {
    max-width: 430px;
  }
  .subscribe-plant {
    max-width: 100px;
  }
  .subscribe-section {
    max-width: 800px;
  }
  .subscribe-text > h2 {
    font-size: 35px;
  }
}
@media screen and (max-width: 768px) {
  /* Banner Video Section  */
  .banner-video-section {
    padding: 40px 0;
  }

  /* Lorem Section */
  .lorem-section {
    padding-bottom: 40px;
  }

  /* Short Video Section  */
  .short-video-section {
    padding-bottom: 40px;
  }

  /* Flote Box Section */
  .flote-section {
    display: none;
  }

  /* Small Flote Section */
  .small-flote-section {
    display: block;
    background-color: var(--secondary-clr);
    padding: 40px 0;
    margin-bottom: 40px;
  }
  .small-flote-section .subscribe-text {
    padding-bottom: 0;
  }

  /* Footer Section */
  .col-4 {
    width: 50%;
  }
  .footer-section > div > div {
    row-gap: 20px;
  }
}
@media screen and (max-width: 576px) {
  /* Header Above Section */
  .above-section {
    font-size: 12px;
  }

  /* Header Section */
  .hamburger {
    font-size: 1.6rem;
  }
  .big-scr {
    gap: 10px;
  }
  nav {
    gap: 50px;
  }
  .nav-logo {
    max-width: 80px;
    min-height: 50px;
  }
  .header-btn {
    padding: 10px;
    font-size: 12px;
  }
  .nav-right > ul > li > a {
    font-size: 14px;
  }
  .dropdown-content a {
    font-size: 12px;
  }
  .dropdown {
    font-size: 13px;
  }
  .nav-right > ul > li {
    margin-bottom: 20px;
  }
    .nav-right{
    width: 100vw;
  }
  .dropdown ul > li {
    margin-bottom: 0;
  }

  /* Banner Video Section  */
  .banner-video-section {
    padding: 20px 0;
  }
  .play-icon {
    font-size: 12px;
    padding: 5px 10px;
  }

  /* Lorem Section */
  .lorem-section {
    padding-bottom: 20px;
  }
  .lorem-section h2 {
    font-size: 25px;
  }
  .lorem-section > div > p {
    font-size: 12px;
    padding-top: 10px;
  }

  /* Short Video Section  */
  .short-video-section {
    padding-bottom: 20px;
  }
  .p1 {
    font-size: 12px;
    padding-top: 10px;
  }

  /* Small Flote Section */
  .small-flote-section {
    display: block;
    background-color: var(--secondary-clr);
    padding: 20px 0;
    margin-bottom: 20px;
  }
  .subscribe-text > h2 {
    font-size: 25px;
  }
  .subscribe-text > p {
    font-size: 12px;
    margin: 10px 0;
  }
  .small-flote-section .header-btn {
    padding: 10px;
    font-size: 12px;
  }

  /* Footer Section */
  .footer-icon {
    padding: 6px;
  }
  .footer-icon > img {
    width: 10px;
    height: 10px;
    object-fit: contain;
  }
  .footer-icons {
    gap: 10px;
  }
  .footer-section > div > div {
    row-gap: 10px;
  }
  .footer-section > hr {
    margin-top: 20px;
  }
  ul h4 {
    font-size: 12px;
  }
  ul > li {
    font-size: 12px;
  }
  .footer-section > p {
    font-size: 12px;
  }
  .footer-1st > h4 {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .footer-1st > p {
    margin-bottom: 20px;
    font-size: 12px;
  }
}
